# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# logs
*.log

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.local
.env*.local

# typescript
*.tsbuildinfo

# Build-Ausgaben
android/app/build/
ios/build/

# Editor-Verzeichnisse
.idea/
.vscode/

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Android/IntelliJ
.gradle
.idea/workspace.xml
.idea/libraries

# Editor-Verzeichnisse
.idea/
.vscode/

# Backup files
*~

# EAS
.eas/

# Build artefacts
*.apk
*.aab
